ASSIGNMENT 1:

QUESTION NO. 1:

In [2]:
def last_element(l):
    """
    Returns last element of list l
    """
    last=len(l)
    lastElement = l[last-1]
    return lastElement

print(last_element(["Hello", "World"]))

World

QUESTION 2:

In [3]:
def num_elements(l):
    """
    Returns number of elements in the list l
    """
    num = len(l)
    return num

num_elements([2, 3, 4])==3

True

QUESTION 3:

In [5]:
def reverse_list(l):
    """
    Returns the reverse of a list l
    """
    l.reverse()
    return l

reverse_list([2, 3, 4])== [4, 3, 2]

True

QUESTION 4:

In [28]:
def is_palindrome(l):
    """
    Returns True if l is a palindrome, False otherwise
    """
    lst1 = l
    l.reverse()
    if lst1 == l:
      return True
    else: return False

(is_palindrome([1, 2, 1])) == True
(is_palindrome([1, 2, 3, 2, 1])) == True

True

Question 5:

In [25]:
def compress(l):
    """
    Returns a list with consecutive duplicate elements replaced by a single element
    """
    previous_ele = None
    lst = list()
    for i in l:
     if i!= previous_ele:
       lst.append(i)
       previous_ele = i
    return lst

(compress([1, 2, 2, 2, 1, 1, 3, 'x', 'x', 'x'])) == [1, 2, 1, 3, 'x']

True

QUESTION 6:

In [27]:
def pack(l):
    """
    Returns a list with consecutive duplicate elements packed into sublists
    """
    global lst_sub
    prev_ele = None
    lst_main = list()
    for i in l:
      if i!= prev_ele:
        lst_sub = list()
        lst_main.append(lst_sub)
        lst_sub.append(i)
        prev_ele=i
      else :
         lst_sub.append(i)
    return lst_main

(pack([1, 1, 1, 2, 1, 1, 3, 3, 3])) == [[1, 1, 1], [2], [1, 1], [3, 3, 3]]
(pack([1, 1, 1, 2]) == [[1, 1, 1], [2]])

True

QUESTION 7:

In [13]:
def slice(l, i, k):
    """
    Returns a list containing the elements between i'th and k'th elements of original list l.
    """  
    lst = l[i:k]
    return lst

(slice([1, 3, 8, 9, 7], 1, 3)) == [3,8]
(slice([1, 4, 6, 'x', 9, 0], 2, 10)) == [6, 'x', 9, 0]

True

QUESTION 8:

In [18]:
def insert_element(l, i, elem):
    """
    Returns a new list containing elem at index i. If i > len (l), insert element at the end of the list
    """      
    l.insert(i,elem)
    return l

(insert_element([1, 2, 3, 4,], 2, 5)[2]) == 5
(insert_element([1, 5, ], 3, 5)) == [1, 5, 5]

True