**Assignment 1 - Basic Python**

In [8]:

def last_element(l):
    """
    Returns last element of list l
    """
    return l[-1]

In [9]:
last_element([1, 2, 3, 4])

4

In [11]:
"""Testing code for last_element"""
assert last_element([1]) == 1
assert last_element(["Hello", "World"]) == "World"

In [14]:
def num_elements(l):
    """
    Returns number of elements in the list l
    """
    print(len(l))  

num_elements([2, 3, 4])

3

In [28]:
def reverse_list(l):
    """
    Returns the reverse of a list l
    """
    print(l[::-1])

In [29]:
reverse_list([2, 3, 4])

[4, 3, 2]

In [34]:
def is_palindrome(l):
    """
    Returns True if l is a palindrome, False otherwise
    """
    return (l==l[::-1])

is_palindrome([1, 2, 1])
is_palindrome([1, 2, 3, 2, 1])
is_palindrome([1, 2, 3, 4])

True

In [35]:
def compress(l):
    """
    Returns a list with consecutive duplicate elements replaced by a single element
    """
    i=0
    while i<(len(l)-1):
      if l[i]==l[i+1]:
        del l[i]
      else:
        i=i+1
    return l

In [36]:
compress([1, 2, 2])
compress([1, 2, 2, 2, 1, 1, 3, 'x', 'x', 'x'])

[1, 2, 1, 3, 'x']

In [37]:
from itertools import groupby

def pack(l):
    """
    Returns a list with consecutive duplicate elements packed into sublists
    """
    l2=[]
    for a,b in groupby(l): 
        l2.append(list(b))
    return l2

In [40]:
pack([1, 1, 1, 2])
pack([1, 1, 1, 2, 1, 1, 3, 3, 3])

[[1, 1, 1], [2], [1, 1], [3, 3, 3]]

In [43]:
def slice(l, i, k):
    """
    Returns a list containing the elements between i'th and k'th elements of original list l.
    """  
    return l[i:k]

In [44]:
slice([1, 3, 8, 9, 7], 1, 3)
slice([1, 4, 6, 'x', 9, 0], 2, 10)

[6, 'x', 9, 0]

In [48]:
def insert_element(l, i, elem):
    """
    Returns a new list containing elem at index i. If i > len (l), insert element at the end of the list
    """      
    l.insert(i,elem)
    return l

In [51]:
insert_element([1, 2, 3, 4,], 2, 5)
insert_element([1, 5, ], 3, 5)

[1, 5, 5]